body {
  background: #B4AAA9;
}
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input, label {
  display:block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
label {
  background: #ffbe78;
  width: 216px;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
input {
  padding: 4px;
  -webkit-appearance: none; 
  -moz-appearance: none; 
  border: 2px solid #eee; /* Here */
  height: 30px;
  width: 200px;
  font-size: 16pt;
  text-align: center;
  background: #f8fafd;
  color: black;

  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-width: 4px;
  border-color: #ffbe78;
}
.topnav {
    height: 55px;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.buscador {
  display: flex;
  align-items: center;
}
.lletrabuscar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffbe78;
  font-size: 25pt;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

  margin-right: 30px;
}
.box {
  margin-right: 15px;
}
.inputs1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffe0bf;
  font-size: 35pt;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
.table{
  margin-top: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #ffe0bf;
  
  border-collapse: collapse;
  border-spacing: 2px;
  border-radius: 10px;
}
thead {
  height: 50px;
}
th {
  padding: 0 15px;
}
tr{
  margin-bottom: 5px;
}
#first-row{
  display: none;
}
.table-body {
  background: #fbeee0;
}
td {
  padding: 20px 15px;
  text-align: center;
  border: none;
  font-size: 12pt;
}
.pe {
  color: green;
}
.pe5 {
  color: green;
}
.pe5 {
  color: red;
}
.pe4 {
  color: red;
}
.pe3 {
  color: red;
}
.pe2 {
  color: red;
}
.pe1 {
  color: red;
}
.pe0 {
  color: red;
}
.beneficis {
  color: green;
}
.caca {
  margin-top: 7px;
    margin-left: 7px;
    background-color: #ffe2c2;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.back {
    margin-top: 7px;
    margin-left: 7px;
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .back:hover {
    background-color: #fff;
  }
  
  .back:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .back {
      min-width: 120px;
      padding: 0 25px;
    }
  }
  .caca:hover {
    background-color: #fff;
  }
  
  .caca:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .caca {
      min-width: 120px;
      padding: 0 25px;
    }
  }
  .div-clean {
    display: none;
    margin-top: 15px;
  }